<form onsubmit="return isValidSignup()"  id="internalSignUpForm" method="POST" name="signupForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New User</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-primary create-newUser-module">
            {{alertMsg}}
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">PERSONAL INFO</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                        placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" name="gender" id="gender">
                                        <option selected>Choose...</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Undefined</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="roleTypeId">Role</label>
                                    <select class="form-control" id="roleTypeId" name="roleTypeId">
                                        <option selected>Choose...</option>
                                        {{#each roleTypeList}}
                                        <option value="{{this._id}}">{{this._id}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="birthDate">Date of Birth</label>
                                    <input type="date" name="birthDate" class="form-control" id="birthDate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">PROFESSIONAL DETAILS</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="schoolTypeId">School</label>
                                    <select class="form-control" id="schoolTypeId" name="schoolTypeId">
                                        <option selected>Choose...</option>
                                        {{#each schoolTypeList}}
                                        <option value="{{this.schoolTypeId}}">{{this.schoolTypeId}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="departmentTypeId">Department</label>

                                    <select class="form-control" id="departmentTypeId" name="departmentTypeId">
                                        <option selected>Choose...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="designationTypeId">Designation</label>
                                    <select class="form-control" id="designationTypeId" name="designationTypeId">
                                        <option selected>Choose...</option>
                                        {{#each designationTypeList}}
                                        <option value="{{this._id}}">{{this._id}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="facultyTypeID">Faculty Type</label>

                                    <select class="form-control" id="facultyTypeID" name="facultyTypeID">
                                        <option selected>Choose...</option>
                                        {{#each facultyTypeList}}
                                        <option value="{{this.facultyTypeId}}">{{this.facultyTypeId}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">POSTAL ADDRESS</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="houseNumber">House Number</label>
                                    <input type="number" class="form-control" name="houseNumber" id="houseNumber"
                                        placeholder="House Number">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="address1">Address Line 1</label>
                                    <input type="text" class="form-control" name="address1" id="address1"
                                        placeholder="Address Line 1">
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="country">Country</label>

                                    <select name="country" class="form-control countries" id="countryId">

                                        <option value="">Select Country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="state">State</label>

                                    <select name="state" class="form-control states" name="state" id="stateId">

                                        <option value="">Select State</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="city">City</label>

                                    <select name="city" class="form-control cities" id="cityId">

                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="postalCode">Zip Code</label>
                                    <input type="number" class="form-control" id="postalCode" name="postalCode"
                                        placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">CONTACT DETAILS</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="contactNumber">Phone Number</label>
                                    <input type="number" class="form-control" id="contactNumber" name="contactNumber">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="houseNumber">Email</label>
                                    <input type="emailAddress" class="form-control" id="emailAddress"
                                        name="emailAddress" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">LOGIN CREDENTIALS</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="userLoginId">User Id</label>
                            <input type="text" class="form-control" id="userLoginId" name="userLoginId">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-success" data-backdrop="static" >Create User</button>
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
</form>
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
  <script src="../../public/js/script.js"></script>