{{!-- 
<div class="form-group">
    <label for="enrollement">Enrollement </label>
    <input type="number" class="form-control" value="{{teachingAssignment.enrollement}}" id="enrollement"
        placeholder="Enrollement">
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-4">
            <label for="semhrs">Sem Hours</label>
            <input type="number" class="form-control" id="semHours" value="{{teachingAssignment.semHours}}"
                placeholder="Sem Hours">
        </div>
        <div class="col-sm-4">
            <label for="ssh">SSH</label>
            <input type="number" class="form-control" id="ssh" value="{{teachingAssignment.ssh}}" placeholder="SSH" disable>
        </div>
        <div class="col-sm-4">
            <label for="teachingLoad">Load %</label>
            <input type="number" class="form-control disable" id="teachingLoad" value="23"
                value="{{teachingAssignment.teachingLoad}}" disabled>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <label for="TCH">TCH</label>
            <input type="number" class="form-control" id="TCH" value="{{teachingAssignment.TCH}}" placeholder="TCH">
        </div>
        <div class="col-sm-6">
            <label for="classType">Class Type</label>
            <input type="text" class="form-control" id="classType" value="10" disabled>
        </div>

    </div>
</div>
<div class="form-group">
    <label for="note">Notes</label>
    <div><textarea name="note" id="note">{{teachingAssignment.note}}</textarea></div>
</div> --}}
